body{
    background-image: url("./images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.header-nav{
    display: flex; flex-direction: row; justify-content: center; align-items: center;
    top: 0; left: 0; right: 0; position: fixed; width: 100%;
}
button{
    border-radius: 4px;
    margin-left: 3px; margin-right: 3px; margin-top: 5px;
    box-shadow: 1px 1px px black;
}

.title{
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    width: 100%;
    font-size: 40px;
    text-shadow: 2px 2px 3px rgb(92, 240, 0);
}

.br{
    margin-top: 90px;
}

.homepage{
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    width: 100%;

}

.login{
    display: flex; flex-direction: column; justify-content: center; align-items: center; 
}

.logout{
    display: flex; flex-direction: column; justify-content: center; align-items: center; 
}